page-login {
  .multiInputBox {
    background-color: #fff;
    margin: 10px 0 20px 0;
    padding: 7px 5px;
  }
  .inputBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 10px;
    border-bottom: 1px #f8f8f8 solid;
  }
  .inputBox input {
    border: none;
    margin-left: 5px;
  }
  .iconfontlogo {
    font-family: "iconfont" !important;
    font-size: 30px;
    color: #406795;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
