page-product-detail {
  .bgcolor {
    background-color: #eeeeee !important;
  }
  .tableBox {
    margin-top: 10px;
  }
  table {
    width: 100%;
  }
  table td,th {
    text-align: center;
    padding: 5px 10px;
    font-size: 17px;
    font-family: Verdana;
    color: #406795;
  }
  table tr:nth-child(even) {
    background: rgba(64, 103, 149, 0.4);
  }
  table tr:nth-child(odd) {
    background: #FFF
  }
}
