page-myself {
  .bgcolor {
    background-color: #eeeeee !important;
  }
  .itemBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    margin: 10px 0 0 0;
    padding: 4px 0px 4px 10px;
  }
  .itemIcon {
    display: flex;
    align-items: center;
  }
  .userIcon {
    padding:20px 0;
  }
  .iconfontuser{
    font-family: "iconfont" !important;
    font-size: 50px;
    color: #406795;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .iconfontitem{
    font-family: "iconfont" !important;
    font-size: 40px;
    color: #406795;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .itemContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 15px;
  }
  .itemContentWord {
    width: 80%;
  }
  .itemContentArrow {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px; 
  }
  .iconfontmore {
    font-family: "iconfont" !important;
    font-size: 20px;
    color: #ccc;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .itemBoxInner {
    margin: 0 !important;
    position: relative;
  }
  .itemBoxInner::before{
    content: "";
    position: absolute;
    left: 60px;
    top: 0;
    right: 15px;
    height: 1px;
    border-top: 1px solid #D8D8D8;
    color: #D8D8D8;
  }
  .itemBoxInner:first-child:before{
    display: none;
  }
  .multiItemBox {
    margin: 10px 0 0 0;
    padding: 10px 0;
    background-color: #fff;
  }
  .btnBox {
    margin-top: 20px;
  }
}
