page-news {
  .bgcolor {
    background-color: #eeeeee !important;
  }
  .newsBox {
    margin-top: 10px;
  }
  .newsPushBox {
    margin-top: 10px;
    padding: 5px 5px;
    background-color: #fff;
  }
}
